.app-review {
  .section-membership, .section-general, .section-royalties,
  .section-required-documents, .section-create-account, .section-payment {
    max-height: 5000px;
    overflow: visible;
  }

  .row {
    margin-bottom: 9px;
  }

  .row:last-child {
    margin-bottom: 0;
  }

  .app-review-group {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .app-review-group .row {
    margin-bottom: 2px;
  }

  .app-wrapper {
    opacity: 1;
  }

  .app-wrapper--form {
    display: none;
  }

  .app-wrapper--review {
    display: block;
  }

  .button-group {
    display: none;
  }
}

.app-wrapper--review {
  display: none;
  margin-bottom: 36px;
}


.review-label {
  text-align: right;
  font-weight: $medium;
  font-size: 16px;

  &--small {
    font-size: 12px;
  }
}

.review-selection {
  font-weight: $book;
  font-size: 16px;
  text-transform: capitalize;
}

.row--review-flex {
  display: flex;
  align-items: flex-start;
}
