*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: $white;
}

body {
  font-family: $font-family--primary;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding: 50px;
}

h1 {
  color: $black;
  font-family: $font-family--primary;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 4.8rem;
  margin: 0;
  margin-bottom: 2.4rem;
}

h2 {
  color: $black;
  font-family: $font-family--primary;
  font-size: 3.0rem;
  font-weight: 500;
  line-height: 3.6rem;
  margin: 0;
  margin-bottom: 2.4rem;
}

h3 {
  color: $black;
  font-family: $font-family--primary;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.6rem;
  margin: 0;
  margin-bottom: 2.4rem;
}

h4 {
  color: $black;
  font-family: $font-family--primary;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin: 0;
  margin-bottom: 2.4rem;
}

h5 {
  color: $black;
  font-family: $font-family--primary;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin: 0;
  margin-bottom: 2.4rem;
}

h6 {
  color: $black;
  font-family: $font-family--primary;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 3.6rem;
  margin: 0;
  margin-bottom: 2.4rem;
}

p {
  margin: 0;
  margin-bottom: 2.4rem;
  color: $black;
}
