.container {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 0;}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

.row {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.col {
  margin: 0 2%;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &-1 {
    width: 4.66666666667%;
  }

  &-2 {
    width: 13.3333333333%;
  }

  &-3 {
    width: 22%;
  }

  &-4 {
    width: 30.6666666667%;
  }

  &-5 {
    width: 39.3333333333%;
  }

  &-6 {
    width: 48%;
  }

  &-7 {
    width: 56.6666666667%;
  }

  &-8 {
    width: 65.3333333333%;
  }

  &-9 {
    width: 74.0%;
  }

  &-10 {
    width: 82.6666666667%;
  }

  &-11 {
    width: 91.3333333333%;
  }

  &-12 {
    width: 100%; margin-left: 0;
  }
}

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

.u-flex {
  display: flex;
}
